<div>
    <div class="HeadContainer"><h2 class="insideHead">Edit Post</h2></div>
{{#if message}}
<div class="error">{{ message }}</div>
<br>
{{/if}}

<ul class="adder">
<form method="POST" action="">
<li>
    Title:
<input type="search" name="title" value={{title}}>
</li>   
<br>
<li>Topic:
<select name="topic" id="topic" value = {{topic}}>
    <optgroup label = "topic">
    <option value="Academic">Academic</option>
      <option value="Extracurricular">Extracurricular</option>
      <option value="Other">Other</option>
    </optgroup>
  </select></li>
<br>
<li>Body: <textarea id="textfield" name = "body" style="height:150px; width: 200px;">{{body}}</textarea><br></li>

<input type="submit" value = "Edit">
</div>

</form>
</ul>