<ul class="SearchBar">
<form method="GET" action="">
    Title:
<input type="search" name="year">
    Author:
<input type="search" name="professor">
<input type="submit" value = "Search">
</form>
</ul>

<ol>
{{#each posts as |p|}}
<li id = "post_title"><a href="/post/{{slug}}">{{title}}</a></li>
<div id = "post_body">{{body}}</div>
{{/each}}
</ol>

